@import "./variables";
@import url("https://fonts.google.com/specimen/DM+Sans?query=dm+san");

.navbar {
  border: 1px solid rgba(234, 234, 234, 1);
  margin: 0px !important;
  padding: 0px !important;
  width: 350px;
  background-color: #ffffff;
  position: fixed;
  height: 100% !important;
  overflow: auto;
  color: $text-color;

  @media screen and (max-width: 960px) {
    width: 50px !important;
    overflow-y: hidden !important;
  }

  .navbar-search {
    width: 226px !important;
    height: 52px !important;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .logo {
    width: 167.79px;
    height: 49.06px;
    @media screen and (max-width: 576px) {
      width: 60px;
      height: 49.06px;
    }
  }

  .search {
    border: #eaeaea;
    width: 226px;
    height: 52px;
    top: 116px;
    left: 32px;
    border-radius: 8px;
    border: 1px;
  }

  span {
    opacity: 0.3px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: $text-color;
  }
  li {
    margin: 13px 25px;
    :hover {
      color: $purple;
    }
    svg:hover {
      color: $purple;
    }
  }

  a {
    cursor: pointer;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    .active {
      color: $purple;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 20px;
      @media screen and (max-width: 960px) {
        width: 30px;
        height: 30px;
        margin-left: -14px;
      }
    }
  }
  button {
    background-color: $purple;
    width: 226px;
    height: 52px;
    top: 940px;
    left: 32px;
    border-radius: 8px;
    border: none;
    font-family: Dm Sans;
    color: $white;
    @media screen and (max-width: 576px) {
      width: 60px;
      height: 30px;
    }
  }
}

.hamburger {
  .selected {
    background-color: $purple;
    color: $white;
  }

  .hm-img {
    width: 70px !important;
    height: 50px !important;
  }
}

.button-hmb {
  background-color: $purple;
  width: 226px;
  height: 52px;
  top: 940px;
  left: 32px;
  border-radius: 8px;
  border: none;
  font-family: Dm Sans;
  color: $white;
  @media screen and (max-width: 576px) {
    width: 60px;
    height: 30px;
  }
}

.welcome-div {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  color: black;
  @media screen and (max-width: 576px) {
    padding-left: 10px;
  }
}

.date-div {
  font-family: DM Sans;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 10px;
  @media screen and (max-width: 576px) {
    padding-left: 10px;
  }
}

.input-search {
  width: 354px !important;
  height: 52px;
  border-radius: 8px;
  border: 1px;
  color: $text-color;
  @media screen and (max-width: 720px) {
    width: 100px !important;
  }
}

.input-select {
  max-width: 162px !important;
  height: 51px;
  border-radius: 8px;
  border: 1px;
  gap: 10px;
}

.ps-20 {
  padding-left: 0 !important;
  @media screen and (max-width: 1200px) {
    padding-left: 20px !important;
  }
  @media screen and (max-width: 1200px) {
    padding-left: 20px !important;
  }
}

.pe-20 {
  @media screen and (min-width: 1200px) {
    padding-right: 20px !important;
  }
}

.ps-30 {
  @media screen and (max-width: 1200px) {
    padding-left: 10px !important;
  }
  @media screen and (max-width: 576px) {
    padding-left: 8px !important;
  }
}

.table-title {
  color: black;
  @media screen and (max-width: 1200px) {
    padding-bottom: 20px !important;
  }
}

.form-check-input:checked {
  background-color: $purple !important;
  border-color: $purple !important;
}

.table {
  z-index: $zindex-modal;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 12px;
  width: 1069px;
  padding: 15px;

  img {
    @media screen and (max-width: 576px) {
      height: 20px !important;
      width: 20px !important;
      padding: 0 !important;
    }
  }

  .status {
    color: $purple !important;
  }

  .td {
    color: $text-color;
  }

  .th {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: $text-color;
    @media screen and (max-width: 576px) {
      font-size: 14px;
    }
  }
}
